body{
    background-color: azure;
     font-family: "Open Sans", sans-serif;
}
*{
    margin: 0%;
    padding: 0%;
}
.main{
    display: flex;
    width: 100%;
}
.heading{
    width: 40%;
    margin-top: 14%;
    margin-left: 14%;
}
.heading > div > h1 {
color: rgb(20, 113, 244);
font-weight: 700;
font-size: 3.5em;
}
.heading > div > p{
color: black;
font-weight: 450;
font-size: 1.3em;
width: 100%;
margin-top: 8px;
}
.form{
    width: 60%;
}
form {
    background-color: white;
    margin-left: 10%;
    margin-top: 15%;
    width: 65%;
    height: 100%;
}
form > input {
    border: 0.5px solid black;
    width: 80%;
    margin-left: 3%;
    height: 12%;
    margin-top: 5%;
}
.btn1 {
   border: 0.5px solid black;
   background-color:  rgb(20, 113, 244);
    width: 80%;
    margin-left: 3%;
    height: 12%;
    margin-top: 5%; 
    color: white;
    font-size: 1em;
    font-weight: bolder;
}